div
{
    border-radius: 5px;
    }
#header
{
    position: absolute;
    z-index: 1;
    height:70px;
    width: 98%;
    
    margin-bottom: 10px
    }

#name {
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 35px;
  text-align: center;
	font-family: Verdana, sans-serif;
	
}

.right
{
    float: left;
    margin-top: 10px;
    padding-left:5px;
    /*margin-right: -10px;
    margin-left: 14%;*/
    height: auto;
    width: 99%;
    background-color: #E3EDD8;
    }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 250%;
}

h3
{
    text-decoration: underline;
    }

table
{
    border: 0px;
    }
td
{
    padding: 5px;
    border: 0px solid #E88741;
    }

